body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
  background-color: white;
  }
  
  #home {
  
    background: url(../images/tunis.jpg) bottom center/cover no-repeat;
    min-height: 800px;
  position: relative;
 

  
 
h1 {
    color:darkblue;
    font-weight: bold;
  padding: 10px; 
  text-align: center;
  font-size: 70px;
  }  
    
  label{
      font-size: 16px;
      padding: 0px; 
      color: white;
  }

  .header-bg {
      padding: 10px;
      background-color: rgba(56, 54, 54, 0.6); 
      font-weight: bold;
    overflow: hidden;
      font-size: 2rem; 
    }
   } 

#h6{
   text-shadow: 2px 2px 5px yellow;
   color: darkblue;
   font-weight: bold;
   font-size: 25px;
 } 
  .navbar {
    background-color: darkblue; }
  
  .navbar-brand h3 {
    color: white;
    font-size: 20px;
    font-weight: bold; }
  
  .navbar-toggler-icon {
    color: white; }
  
  .navbar-toggler {
    color: white; }
  
  .navbar a {
    color: white; }
  
  
  
  
  #history{
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    color: #111;
  }
 
  
  .card {
    border: solid 1px darkblue; }
  
  .card-bg {
    background-color: #a8d8eb; }
  
  h5 {
    color: darkblue;
    font-weight: bold;
    font-size: 25px; }
  
  #contacts {
    background-color: darkblue;
    color:white;
}
  
  
  h3 {
    color: darkblue;
    font-weight: bold; 
    font-size: 30px;
}
  

  .container-fluid-carousel {
    width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  .row-carousel {
    max-width: 700px;
  }
  .carousel-inner img {
  max-width: 600px;
}
  
  .grey_box {
    padding: 10px;
    background-color: rgba(56, 54, 54, 0.6); }
  
  .headings {
    font-size: 3rem;
    font-weight: 800; }
  
  @media screen and (max-width: 771px) {
    h1{
      font-size: 50px;
    }
    
  }
  @media screen and (max-width: 481px) {
    h1{
      font-size: 35px;
    }
    .form-row {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .form-row input{
      padding-bottom: 0px;
    }
    h3 {
      font-size: 28px;
    }
  }
  @media screen and (max-width: 481px) {
    h1{
      font-size: 28px;
    }
    .form-row {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .form-row input{
      padding-bottom: 0px;
    }
    
  }